@{
    ViewBag.Title = "Home Page";
}

<h2>@ViewBag.Message</h2>
<h3>Mensagem Global: @Resources.Global.MensagemGlobal</h3>
@*<h3>Mensagem Local: @this.LocalResources("~/Home/Index", "MensagemLocal")</h3>*@
<h3>Mensagem Local: @this.LocalResources("MensagemLocal")</h3>
<h4>@ViewBag.Culture</h4>
<p>
    
    To learn more about ASP.NET MVC visit <a href="http://asp.net/mvc" title="ASP.NET MVC Website">http://asp.net/mvc</a>.
</p>
